<!-- Barra de navegación -->
<div>
	<nav class="navbar nav-color">
		<div class="container">
			<!-- Barra para móviles -->
			<div class="navbar-header">
				<button class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#desplegable_inicio">
					<span class="icon-bar bar-color"></span>
					<span class="icon-bar bar-color"></span>
					<span class="icon-bar bar-color"></span>
				</button>
				<!-- <a href="#/" class="navbar-brand active"><span class="brand-name">Pickly</span></a> -->
			</div>

			<!-- Nav links -->
			<div class="navbar-collapse collapse" id="desplegable_inicio">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Código" />
					</div>
					<div class="form-group">
						<button class="btn btn-primary" type="submit"><span class="fa fa-sign-in fa-fw"></span></button>
					</div>
				</form>
			</div>
		</div>
	</nav>
</div>

<!-- Sección bienvenida -->
<div class="jumbotron jumbo-home">
	<div class="container">
		<div class="col-md-12">
			<h1><span class="jumbo-header">Pickly</span></h1>
			<p class="jumbo-text hidden-xs">Editor web de lenguaje de programación visual para microncontroladres PIC&reg;</p>
			<hr>
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle btn-lg" data-toggle="dropdown">
				Seleccione una opción <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="pic in pics"><a href="{{pic.url}}">{{ pic.name }}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container text-center">
	<a class="icon fa fa-arrow-down fa-5x" ng-href="#articulos"></a>
</div> -->

<!-- Artículos -->
<!-- <div class="row">
	<div class="container">
		<section id="articulos">
			<div class="col-md-4">
				<h3 class="text-center">Paso 1</h3>
				<p class="text-justify">Si eres estudiante de la UPN, ingresa con tu código institucional. Si eres visitante, (simplemente) selecciona un microcontrolador para empezar.</p>
			</div>
		</section>
		<div class="col-md-4">
			<h3 class="text-center">Paso 2</h3>
			<p class="text-justify">Arrastra y une los bloques necesarios que describen tu programa.</p>
		</div>
		<div class="col-md-4">
			<h3 class="text-center">Paso 3</h3>
			<p class="text-justify">Descarga el código generado en lenguaje C y utiliza tu compilador de preferencia.</p>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="container">
		<!-- Thumbnail 1 -->
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<h3>Paso 1</h3>
					<p class="text-justify">Si eres estudiante de la Universidad Pedagógica Nacional, ingresa con tu código institucional. De lo contrario, selecciona cualquiera de los microcontroladores disponibles.</p>
				</div>
			</div>
		</div>
		<!-- Thumbnail 2 -->
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<h3>Paso 2</h3>
					<p class="text-justify">Arrastra los bloques que necesitas para tu programa al área de trabajo y únelos.</p>
				</div>
			</div>
		</div>
		<!-- Thumbnail 3 -->
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<h3>Paso 3</h3>
					<p class="text-justify">Una vez terminado, descarga el código en lenguaje C y utiliza tu programa de preferencia, para compilar el código.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<hr/>
	<footer>&copy;2016</footer>
</div>
<!-- 212a6f