<!-- Barra de navegación -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<form class="navbar-form">
			<div class="btn-group">
  				<a type="button" class="btn btn-primary" ng-click="clickHome()"><span class="fa fa-home fa-lg fa-fw"></span></a>
  				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			  	<ul class="dropdown-menu">
			    	<li><a role="button" ng-href="datasheets/{{datasheet}}.pdf" target="blank">Ver datasheet</a></li>
			    	<li><a role="button" ng-click="changePic()">Cambiar a {{picNotChosen}}</a></li>
			  	</ul>
			  	<p class="navbar-text">{{picChosen}}</p>
			</div>
		</form>
	</div>
</nav>

<!-- Bloques -->
<div class="row">
	<div class="container">
		<div class="col-md-12 col-sm-3">
			<xml id="toolbox" style="display:none;">
				<category name="Control" colour="120">
					<block type="controls_if"></block>
					<block type="controls_repeat"></block>
					<block type="controls_whileUntil"></block>
					<block type="controls_for"></block>
					<block type="controls_forEach"></block>
					<block type="controls_flow_statements"></block>
					<block type="delay_block"></block>
				</category>
				<category name="Texto" colour="160">
					<block type="text"></block>
					<block type="text_join"></block>	
					<block type="text_append"></block>
					<block type="text_length"></block>
					<block type="text_isEmpty"></block>
					<!-- Opcionales -->
					<!-- <block type="text_indexOf"></block>
					<block type="text_charAt"></block>
					<block type="text_getSubstring"></block>
					<block type="text_print"></block> -->
				</category>		
				<category name="Listas" colour="260">
					<block type="lists_create_empty"></block>
					<block type="lists_repeat"></block>
					<block type="lists_length"></block>
					<block type="lists_getIndex"></block>
					<block type="lists_setIndex"></block>
				</category>
				<category name="Matemáticas" colour="230">
					<block type="math_number"></block>	
					<block type="math_arithmetic"></block>			
					<block type="math_number_property"></block>
					<block type="math_change"></block>				
					<block type="math_round"></block>
					<block type="math_on_list"></block>
					<block type="math_modulo"></block>
					<block type="math_random_int"></block>
					<block type="math_random_float"></block>
				</category>
				<category name="Lógica" colour="210">
					<block type="logic_compare"></block>
					<block type="logic_operation"></block>
					<block type="logic_negate"></block>
					<block type="logic_boolean"></block>	
				</category>
				<category name="Variables" colour="330">	
					<block type="variables_get"></block>
					<block type="variables_set"></block>	
				</category>
				<category name="Subrutinas" colour="290">
					<block type="procedures_defnoreturn"></block> 
					<block type="procedures_defreturn"></block>	
					<block type="procedures_ifreturn"></block>
				</category>
				<sep></sep>
				<category name="Análogico">
					
				</category>
				<category name="Comunicaciones" colour="20">
					<block type="comm_send"></block>
					<block type="comm_receive"></block>
				</category>
				<category name="Input/Output" colour="65">
					<block type="io_type"></block>
					<block type="io_ports"></block>
					<block type="io_get"></block>
					<block type="io_set"></block>		
					<block type="io_pins"></block>
					<block type="io_pin_set"></block>
					<block type="io_pin_get"></block>
				</category>
				<category name="Timers">
					
				</category>
				<category name="Interrupciones">
					
				</category>
			</xml>
		</div>
	</div>
</div>

<script>
	var workspace = Blockly.inject('blocklyDiv',{
		toolbox : document.getElementById('toolbox'),
		grid : {
			spacing: 20
		}
	});
</script>