<!-- Barra de navegación -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<form class="navbar-form">
			<div class="btn-group">
  				<a type="button" class="btn btn-primary" ng-click="click_home()"><span class="fa fa-home fa-lg"></span></a>
  				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			  	<ul class="dropdown-menu">
			    	<li><a ng-href="http://ww1.microchip.com/downloads/en/DeviceDoc/39582C.pdf" target="blank">Ver datasheet</a></li>
			    	<li><a ng-click="click_change_pic()">Cambiar a {{pic_not_selected}}</a></li>
			  	</ul>
			  	<p class="navbar-text">{{pic_selected}}</p>
			</div>
		</form>
	</div>
</nav>

<!-- Bloques -->
<div class="row">
	<div class="container">
		<div class="col-md-12 col-sm-3">
			<xml id="toolbox" style="display:none;">
				<block type="controls_if"></block>	
				<block type="logic_compare"></block>
				<block type="logic_operation"></block>
				<block type="logic_negate"></block>
				<block type="logic_boolean"></block>
				<block type="lists_create_empty"></block>
				<block type="lists_repeat"></block>
				<block type="lists_length"></block>
				<block type="lists_getIndex"></block>
				<block type="lists_setIndex"></block>
				<block type="math_number"></block>	
				<block type="math_arithmetic"></block>
				<block type="math_single"></block>				<!-- Opcional -->
				<block type="math_trig"></block>				<!-- Opcional -->
				<block type="math_constant"></block>			<!-- Opcional -->
				<block type="math_number_property"></block>
				<block type="math_change"></block>				<!-- Opcional -->
				<block type="math_round"></block>
				<block type="math_on_list"></block>
				<block type="math_modulo"></block>
				<block type="math_random_int"></block>			<!-- Opcional -->
				<block type="math_random_float"></block>		<!-- Opcional -->
				<block type="procedures_defnoreturn"></block>   <!-- Subrutinas void() -->
				<block type="procedures_defreturn"></block>	  <!-- Subrutina con valor retorno -->
				<block type="procedures_ifreturn"></block>
				<block type="text"></block>
				<block type="text_join"></block>	
				<block type="text_append"></block>
				<block type="text_length"></block>
				<block type="text_isEmpty"></block>
				<!-- Opcionales -->
				<block type="text_indexOf"></block>
				<block type="text_charAt"></block>
				<block type="text_getSubstring"></block>
				<block type="text_print"></block>
				<!-- ********* -->

				<<!-- Loops-->

				<block type="controls_repeat"></block>
				<block type="controls_whileUntil"></block>
				<block type="controls_for"></block>
				<block type="controls_forEach"></block>
				<block type="controls_flow_statements"></block>
				<block type="variables_get"></block>
				<block type="variables_set"></block>
				
			</xml>
		</div>
	</div>
</div>

<script>
	var workspace = Blockly.inject('blocklyDiv',{
		toolbox : document.getElementById('toolbox'),
		trashcan : true	
	});
</script>