<!-- Barra de navegación -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<form class="navbar-form">
			<div class="form-group btn-group">
  				<a type="button" class="btn btn-primary" ng-click="click_home()"><span class="fa fa-home fa-lg"></span></a>
  				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			  	<ul class="dropdown-menu">
			    	<li><a ng-href="http://ww1.microchip.com/downloads/en/DeviceDoc/39632e.pdf" target="blank">Ver datasheet</a></li>
			    	<li><a ng-click="click_change_pic()">Cambiar a {{pic_not_selected}}</a></li>
			  	</ul>
				<p class="navbar-text">{{pic_selected}}</p>
			</div>
		</form>
	</div>
</nav>

<!-- Bloques -->
<xml id="toolbox" style="display:none;">
	<block type="controls_repeat"></block>
</xml>

<script>
	var workspace = Blockly.inject('blocklyDiv',{
		toolbox : document.getElementById('toolbox'),
		trashcan : true
	});
</script>