<div class="alert alert-warning" ng-show="failed">
	<p class="text-center">Lo sentimos, algo ha salido mal. Intenta de nuevo</p>
</div>

<nav class="navbar navbar-default" id="dashboard-nav">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dashboard"><span class="fa fa-navicon"></span></button>
			<a href="" class="navbar-brand"><span class="fa fa-microchip"></span> {{user.firstname}} {{user.lastname}}</a>
		</div>
		<div class="collapse navbar-collapse" id="dashboard">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Inicio</a></li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" role="button" data-toggle="dropdown">Proyectos <span class="fa fa-caret-down"></span></a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="setTab(1)">Mis proyectos</a></li>
						<li><a href="">Crear nuevo proyecto</a></li>
					</ul>
				</li>
				<li><a href="" ng-show="admin && checkTab(1)" ng-click="getStudents();setTab(2)" ng-hide="!admin || students">Ver estudiantes</a></li>
				<li><a href="" ng-show="students && checkTab(2)" ng-click="dispose();setTab(1)">Ocultar lista</a></li>
				<li><a href="">Configuración</a></li>
				<li><a href="" ng-click="logout()">Cerrar sesión</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Ver proyectos -->
<div class="panel panel-success dashboard-panel" ng-show="checkTab(1)">
	<div class="panel-heading">
		<h3 class="panel-title">Mis Proyectos</h3>
	</div>
	<div class="panel-body">
		<p class="text-center" ng-show="!user.projects.length">Aún no tienes proyectos creados :(</p>
		<table class="table table-condensed text-center" ng-show="user.projects.length">
			<thead>
				<th class="text-center">Nombre</th>
				<th class="text-center">Creado</th>
				<th class="text-center">Opciones</th>
			</thead>
			<tbody>
				<tr ng-repeat="project in projects">
					<td>{{project.name}}</td>
					<td>{{project.createdAt}}</td>
					<td><a href=""><span class="fa fa-trash-o"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Ver estudiantes -->
<div class="table-responsive" ng-show="students && checkTab(2)">
	<table class="table table-hover text-center">
		<thead>
			<th class="text-center">Id</th>
			<th class="text-center">Nombre</th>
			<th class="text-center">Código</th>
			<th class="text-center">Proyectos</th>
			<th class="text-center">Rol(es)</th>
		</thead>
		<tbody>
			<tr ng-repeat="student in students">
				<td>{{student.id}}</td>
				<td>{{student.firstname}} {{student.lastname}}</td>
				<td>{{student.username}}</td>
				<td>{{student.projects.length}}</td>
				<td>{{student.roles.toString()}}</td>
			</tr>
		</tbody>
	</table>
</div>