<div class="slide-up alert alert-warning" ng-show="logoutFailed">
	<p class="text-center">Lo sentimos, algo ha salido mal. Intenta de nuevo <span class="pull-right"><a href="">&times;</a></span></p>
</div>
<div class="slide-up alert alert-warning" ng-show="idFailed">
	<p class="text-center">Rellena los campos del formulario <span class="pull-right"><a href="">&times;</a></span></p>
</div>
<div class="slide-up alert alert-success" ng-show="success">
	<p class="text-center">Estudiante creado satisfactoriamente <span class="pull-right"><a href="">&times;</a></span></p>
</div>
<div class="slide-up alert alert-warning" ng-if="success === false">
	<p class="text-center">No se pudo crear el estudiante <span class="pull-right"><a href="">&times;</a></span></p>
</div>

<nav class="navbar navbar-default" id="dashboard-nav">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dashboard"><span class="fa fa-navicon"></span></button>
			<a href="" class="navbar-brand"><span class="fa fa-user-o"></span> {{user.firstname}} {{user.lastname}}</a>
		</div>
		<div class="collapse navbar-collapse" id="dashboard">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="" class="dropdown-toggle" role="button" data-toggle="dropdown">Proyectos <span class="fa fa-caret-down"></span></a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="setTab(1);getProjects()">Mis proyectos</a></li>
						<li><a href="" ng-click="setTab(4)">Crear nuevo proyecto</a></li>
					</ul>
				</li>
				<li class="dropdown" ng-show="admin">
					<a href="" class="dropdown-toggle" role="button" data-toggle="dropdown">Estudiantes <span class="fa fa-caret-down"></span></a>
					<ul class="dropdown-menu">
						<li><a href="" ng-show="admin && checkTab(1) || checkTab(3) || checkTab(4)" ng-click="getStudents();setTab(2)" ng-hide="!admin || students">Ver estudiantes</a></li>
						<li><a href="" ng-show="students && checkTab(2)" ng-click="dispose();setTab(1)">Ocultar estudiantes</a></li>
						<li><a href="" ng-show="admin" ng-click="setTab(3)">Crear estudiante</a></li>
					</ul>
				</li>
				<li><a href="">Configuración</a></li>
				<li><a href="" ng-click="logout()">Cerrar sesión</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Ver proyectos -->
<div class="panel panel-success dashboard-panel" ng-show="checkTab(1)">
	<div class="panel-heading">
		<h3 class="panel-title">Mis Proyectos</h3>
	</div>
	<div class="panel-body">
		<p class="text-center" ng-show="!user.projects.length">Aún no tienes proyectos creados :(</p>
		<table class="table table-condensed text-center" ng-show="user.projects.length>0">
			<thead>
				<th class="text-center">Nombre</th>
				<th class="text-center">PIC</th>
				<th class="text-center">Creado</th>
				<th class="text-center">Opciones</th>
			</thead>
			<tbody>
				<tr ng-repeat="project in projects">
					<td ng-model="project.name">{{project.name}}</td>
					<td>{{project.pic}}</td>
					<td>{{project.createdAt}}</td>
					<td><a href="" ng-click="persist(project)"><span class="fa-pencil-square-o fa"></span></a> <a href="" ng-click="deleteProject(project)"><span class="fa fa-trash-o"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="container dashboard-space">
	<!-- Ver estudiantes -->
	<div class="table-responsive" ng-show="students && checkTab(2)">
		<table class="table table-hover text-center">
			<thead>
				<th class="text-center">Id</th>
				<th class="text-center">Nombre</th>
				<th class="text-center">Código</th>
				<th class="text-center">Proyectos</th>
				<th class="text-center">Rol(es)</th>
			</thead>
			<tbody>
				<tr ng-repeat="student in students">
					<td>{{student.id}}</td>
					<td>{{student.firstname}} {{student.lastname}}</td>
					<td>{{student.username}}</td>
					<td>{{student.projects.length}}</td>
					<td>{{student.roles.toString()}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Crear proyecto -->
	<div ng-show="checkTab(4)">
		<form>
			<div class="form-group">
				<label for="projectNew">Nombre</label>
				<input required="true" class="form-control" type="text" name="projetNew" id="projetNew" ng-model="project.name">
			</div>
			<div class="form-group">
				<label for="">PIC</label>
				<select name="option" id="" class="form-control" ng-model="project.pic" required>
					<option value="">Seleccione una opción...</option>
					<option ng-repeat="pic in pics" value="{{pic.name}}">{{ pic.name }}</option>
				</select>
			</div>
			<button class="btn-primary btn" ng-click="createProject(project)">Crear proyecto</button>
		</form>
	</div>
	<!-- Crear estudiantes -->
	<div class="row" ng-show="checkTab(3)">
		<div class="col-md-12">
			<form>
				<div class="form-group">
					<label for="name">Nombre</label>
					<input type="text" class="form-control" ng-model="newStudent.firstname" id="name" required/>
				</div>
				<div class="form-group">
					<label for="lastname">Apellido</label>
					<input type="text" class="form-control" ng-model="newStudent.lastname" id="lastname" required/>
				</div>
				<div class="form-group">
					<label for="username">Código institucional</label>
					<input type="text" class="form-control" id="username" ng-model="newStudent.username" required/>
				</div>
				<div class="form-group">
					<label for="password">Contraseña</label>
					<input type="password" class="form-control" id="password" ng-model="newStudent.password" required/>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="newStudent.admin"> Administrador
						</label>
					</div>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary" ng-click="saveStudent(newStudent)">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$('.slide-up').click(function() {
		$(this).slideUp()
	})
</script>