<nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a ng-hide="user" class="btn navbar-toggle collapsed" href="/login" translate="home.sign-in"></a>
			<a ng-show="user" class="btn navbar-toggle collapsed" href="/dashboard" translate="home.profile"></a>
			<a href="#" class="navbar-brand"><span class="fa fa-microchip"></span> Pickly</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="menu">
			<form class="navbar-form navbar-right">
				<div class="form-group" ng-hide="user">
					<a href="/login" 	class="btn btn-info" translate="home.sign-in"></a>
				</div>
				<div class="form-group" ng-show="user">
					<a href="/dashboard" class="btn btn-default">{{user.firstname}} {{user.lastname}} <span class="fa fa-user"></span></a>
				</div>
			</form>
		</div>
	</div>
</nav>

<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="home-heading">Pickly</h1>
			<hr/>
			<p><strong translate="home.description"></strong></p>
			<div><a class="btn btn-default btn-lg" translate="home.header-btn" ng-href="#video" id="header-btn"></a></div>
		</div>
	</div>
</header>

<div class="embed-responsive embed-responsive-16by9" id="video">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/VOnp_sFX5MQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<section id="steps">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading" translate="home.main-section"></h2>
				<hr>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div>
				<div class="col-lg-3 col-md-6 text-center">
					<i class="fa fa-microchip fa-4x icon"></i>
					<h4 translate="home.section-one"></h4>
				</div>
			</div>
			<div>
				<div class="col-lg-3 col-md-6 text-center">
					<i class="fa fa-mouse-pointer fa-4x icon"></i>
					<h4 translate="home.section-two"></h4>
				</div>
			</div>
			<div>
				<div class="col-lg-3 col-md-6 text-center">
					<i class="fa fa-puzzle-piece fa-4x icon"></i>
					<h4 translate="home.section-three"></h4>
				</div>
			</div>
			<div>
				<div class="col-lg-3 col-md-6 text-center">
					<i class="fa fa-download fa-4x icon"></i>
					<h4 translate="home.section-four"></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container options">
		<div class="text-center" ng-hide="user">
			<a type="button" data-toggle="modal" data-target="#modal_pic" class="btn btn-default dropdown-toggle btn-lg sr-button" translate="home.main-btn"></a>
		</div>
		<div class="text-center" ng-show="user">
			<a type="button" class="btn btn-default dropdown-toggle btn-lg sr-button" href="/dashboard" translate="home.profile-btn"></a>
		</div>
		<div class="modal fade" tabindex="-1" role="dialog" id="modal_pic">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" data-dismiss="modal" class="close" aria-label="close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" translate="home.modal-title"></h4>
					</div>
					<div class="modal-body" ng-controller="HomeController">
						<table class="table table-hover">
							<tbody>
								<tr ng-repeat="pic in pics">
									<td><a href="{{pic.url}}" type="button"><span class="fa fa-microchip"></span> {{pic.name}}</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" translate="home.modal-close"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
						<div class="btn-group dropup">
							<a class="btn dropdown-toggle" data-toggle="dropdown" translate="home.lang"></a>
							<ul class="dropdown-menu">
								<li><a role="button" translate="home.es-btn" ng-click="changeLanguage('es');"></a></li>
								<li><a role="button" translate="home.en-btn" ng-click="changeLanguage('en');"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-xs-1 col-xs-offset-5">
				<a href="https://github.com/ddazal/pickly" target="_blank"><span class="fa fa-github fa-2x"></span></a>
			</div>
		</div>
	</div>
</footer>