<div id="wrapper">
	<div id="sidenav-wrapper">
		<a href="#" id="closebtn">&times;</a>
		<ul id="sidenav-content">
			<li ng-hide="user"><a role="button" href="" ng-click="clickHome()" translate="pic.home"></a></li>
			<li ng-show="user"><a role="button" href="" ng-click="clickDashboard()" translate="pic.profile"></a></li>
			<li><a role="button" ng-href="datasheets/{{datasheet}}.pdf" target="blank" translate="pic.datasheet"></a></li>
			<li><a role="button" id="download" href="" translate="pic.download"></a></li>
			<li ng-repeat="option in remaining"><a role="button" href="{{option.url}}"><span class="fa fa-microchip fa-fw"></span> {{option.name}}</a></li>
		</ul>
	</div>

	<div id="main-content-wrapper">
		<!-- Notificación
		<div class="alert alert-info" id="notification">
			<p class="text-center" translate="pic.notification"></p>
		</div> -->

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Mobile Display -->
				<div class="navbar-header">
					
					<a href="#" class="navbar-brand" id="toggle"><span class="fa fa-bars"></span></a>
					<a ng-hide="user" ng-href="datasheets/{{datasheet}}.pdf" class="navbar-brand" target="_blank" title="Datasheet">{{ pic | uppercase}}</a>
					<a href="" class="navbar-brand" ng-show="user">{{ currentProject.name | uppercase }}</a>
				</div>
				<!-- Nav elements -->
				<div id="pic_menu">
					<form class="navbar-form navbar-right">
						<div class="form-group" ng-show="user">
							<a href="" class="btn btn-default" translate="pic.save" ng-click="saveXml()"></a>
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
	  				<li role="presentation" ng-class="{active:tabIsSelected(1)}"><a href ng-click="selectTab(1)" translate="pic.blocks-tab"></a></li>
	  				<li role="presentation" ng-class="{active:tabIsSelected(2)}"><a href ng-click="selectTab(2)" translate="pic.code-tab" id="test"></a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div ng-show="user && currentProject.contributors.length">
			<div id="chat">Chat</div>
			<div id="chat-box">
			  		<div id="chat-bar">
			    		<p>{{ currentProject.name | uppercase }}</p>
			    		<span class="fa fa-close"></span>
			  		</div>
			  		<div id="chat-messages">
			    		<ul id="messages"></ul>
			  		</div>
			  		<div id="chat-input">
			    		<form action="">
			      		<input type="text" id="message" placeholder="Escribe tu mensaje aquí" autocomplete="off" />
			    		</form>
			  		</div>
			</div>
		</div>
			
		<div id="blocklyDiv" ng-show="tabIsSelected(1)">
			<xml id="toolbox">
				<category name="{{ categoria1 }}" colour="120">
					<block type="controls_if"></block>
					<block type="controls_repeat"></block>
					<block type="controls_whileUntil"></block>
					<block type="controls_for"></block>
					<block type="controls_forEach"></block>
					<block type="controls_flow_statements"></block>
					<block type="delay_block"></block>
				</category>
				<category name="{{ categoria2 }}" colour="160">
					<block type="text"></block>
					<block type="text_join"></block>	
					<block type="text_append"></block>
					<block type="text_length"></block>
					<block type="text_isEmpty"></block>
				</category>		
				<category name="{{ categoria3 }}" colour="260">
					<block type="lists_create_empty"></block>
					<block type="lists_repeat"></block>
					<block type="lists_length"></block>
					<block type="lists_getIndex"></block>
					<block type="lists_setIndex"></block>
				</category>
				<category name="{{ categoria4 }}" colour="230">
					<block type="math_number"></block>	
					<block type="math_arithmetic"></block>			
					<block type="math_number_property"></block>
					<block type="math_change"></block>				
					<block type="math_round"></block>
					<block type="math_on_list"></block>
					<block type="math_modulo"></block>
					<block type="math_random_int"></block>
					<block type="math_random_float"></block>
				</category>
				<category name="{{ categoria5 }}" colour="210">
					<block type="logic_compare"></block>
					<block type="logic_operation"></block>
					<block type="logic_negate"></block>
					<block type="logic_boolean"></block>	
				</category>
				<category name="{{ categoria6 }}" colour="330">	
					<block type="set_var"></block>
					<block type="get_var"></block>
				</category>
				<category name="{{ categoria7 }}" colour="290">
					<block type="procedures_defnoreturn"></block> 
					<block type="procedures_defreturn"></block>	
					<block type="procedures_ifreturn"></block>
				</category>
				<sep></sep>
				<!-- Bloques propios del microcontrolador -->
				<category name="{{ categoria8 }}" colour="0">
					<block type="adc_done"></block>
					<block type="adc_read"></block>
					<block type="adc_channel"></block>
					<block type="adc_setup"></block>
					<block type="adc_ports"></block>
				</category>
				<category name="{{ categoria9 }}" colour="20">
					<block type="comm_send"></block>
					<block type="comm_receive"></block>
					<block type="comm_baud_rate"></block>
				</category>
				<category name="{{ categoria10 }}" colour="65">
					<block type="io_type"></block>
					<block type="io_tris"></block>
					<block type="io_get"></block>
					<block type="io_set"></block>		
					<block type="io_pin_set"></block>
					<block type="io_pin_get"></block>
				</category>
				<category name="Timers" colour="180">
					<category name="Timer 0">
						<block type="tmr_tmr0_get"></block>
						<block type="tmr_tmr0_set"></block>
						<block type="tmr_tmr0_setup"></block>
					</category>
					<category name="Timer 1">
						<block type="tmr_tmr1_get"></block>
						<block type="tmr_tmr1_set"></block>
						<block type="tmr_tmr1_setup"></block>
					</category>
					<category name="Timer 2">
						<block type="tmr_tmr2_get"></block>
						<block type="tmr_tmr2_set"></block>
						<block type="tmr_tmr2_setup"></block>
					</category>
				</category>
				<category name="{{ categoria12 }}" colour="85">
					<block type="int_enable"></block>
					<block type="int_timer0"></block>
					<block type="int_timer1"></block>
					<block type="int_timer2"></block>
					<block type="int_rb"></block>
					<block type="int_ext"></block>
					<block type="int_ad"></block>
					<block type="int_tbe"></block>
					<block type="int_rda"></block>
				</category>
			</xml>
		</div>

		<!-- Panel de código -->
		<div ng-show="tabIsSelected(2)">
			<div class="panel">
				<pre id="codigo"></pre>
			</div>
		</div>
	</div>
</div>

<xml id="startBlocks">
	<block type="main_function"></block>
</xml>

<script>	
	var workspaceData = {
		toolbox: document.getElementById('toolbox'),
		trashcan: true,
		grid: {
			spacing: 20
		}
	}
	var xml = '';
	var xml_text = '';
  var dataType = { type: 'text/plain;charset=utf-8' }
	var filename = 'main.c'
	var blob = new Blob()
	
	
	/*$('#notification').hide();
	$("#notification").click(closeIt);*/
	$(document).ready(whenReady);
	$('.langBlock').click(changeWorkspaceLanguage)
	$('#download').click(downloadCode)

	/* Propiedades CSS del workspace */
	$("#blocklyDiv").css("height", $(window).height() - $(".navbar").height());
	$("#codigo").css("height", $(window).height() - $(".navbar").height());

	/* Evento
	 * Detecta los cambios en el tamaño de la pantalla y cambia el tamaño del área de trabajo
	 */
	$(document).resize(responsive)
	$(window).resize(responsive)

	/* Inyección del workspace de Blockly */
	var workspace = Blockly.inject('blocklyDiv', workspaceData)
	/* Generación(real-time) y descarga de código */
	workspace.addChangeListener(myUpdateFunction);

	/*function closeIt () {
		$(this).slideUp(500);
	}*/

	/* Despliegue de barra de notificación y cierre total del modal*/

	function whenReady () {
		//$('#notification').delay(500).slideDown(500);
		$('body').removeClass('modal-open');
		$('.modal-backdrop').remove();
		$('#blocklyDiv').show();
	}

	/* Destrucción y restauración del workspace */
	function changeWorkspaceLanguage () {
		setTimeout(refresh, 0);
		function refresh () {
			workspace.dispose();
			workspace = Blockly.inject('blocklyDiv', workspaceData)
			var pre_xml = Blockly.Xml.textToDom(xml_text);
			Blockly.Xml.domToWorkspace(pre_xml, workspace);
		}
	}

	function responsive () {
		$("#blocklyDiv").innerHeight($(window).height() - $(".navbar").height());
		$(".panel").innerHeight($(window).height() - $(".navbar").height());
	}

	var room = window.location.pathname.slice(5)
	
	if (socket) socket.emit('set room', room)

	function myUpdateFunction (event) {
		var code = Blockly.JavaScript.workspaceToCode(workspace);
	  var codeArr = []
	  $('#codigo').html(code);
		codeArr.push(code)
		blob = new Blob(codeArr, dataType)
	  // Conversión de bloques a texto
	  if (event.type == Blockly.Events.UI || event.type == Blockly.Events.CREATE) return

	  xml = Blockly.Xml.workspaceToDom(workspace);
	  xml_text = Blockly.Xml.domToText(xml);

	  if (socket) {
		  socket.emit('new xml', xml_text)
			socket.on('rebuild workspace', function (xml) {
				Blockly.Events.disable()
				workspace.clear()
				var xmlData = Blockly.Xml.textToDom(xml)
				Blockly.Xml.domToWorkspace(xmlData, workspace)
				Blockly.Events.enable()
			})
	  }
	}


	function downloadCode (e) {
		e.preventDefault()
		saveAs(blob, filename)
	}

	$('#toggle').click(function (e) {
		e.preventDefault();
		$('#wrapper').toggleClass('toggled');
	});

	$('#closebtn').click(function (e) {
		e.preventDefault();
		$('#wrapper').toggleClass('toggled');
	});

	var projectComming = JSON.parse(window.sessionStorage.getItem('currentProject'))
	if (projectComming && projectComming.xml) {
		var xmlFromDb = Blockly.Xml.textToDom(projectComming.xml)
		Blockly.Xml.domToWorkspace(xmlFromDb, workspace)
	} else {
		/* Inicialización del bloque void main */
		Blockly.Xml.domToWorkspace(document.getElementById('startBlocks'), workspace);
	}

	$('#chat-box').hide()
	$('#chat').click(function() {
  	$(this).fadeOut(500)
  	$('#chat-box').fadeIn(500)
	})
	$('.fa.fa-close').click(function() {
  	$('#chat-box').fadeOut(500)
  	$('#chat').fadeIn(500)
	})
</script>