html,
body {
	height: 100vh;
	width: 100vw;
}
/* Estilos para home.html */
/* Navbar style for mobiles */
.navbar-default {
	background-color: white;
	border-color: rgba(34, 34, 34, 0.05);
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
	color: #f05f40;
	font-weight: 700;
	text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
/* Navbar style for larger screens */
@media (min-width: 768px) {
	.navbar-default {
		background-color: transparent;
		border: 0px;
	}
	.navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0);
    display: none;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: rgba(255, 255, 255, 0);
  }
  .navbar-default.affix {
  	background-color: #fff;
  	top: 0;
  	width: 100%;
  	border-bottom: 0.5px solid #eee;
  }
	.navbar-default.affix .navbar-header .navbar-brand {
		color: #795548;
		font-weight: 700;
		text-transform: uppercase;
		display: inline;
	}
	.navbar-default.affix .navbar-header .navbar-brand:hover,
	.navbar-default.affix .navbar-header .navbar-brand:focus {
	  color: #5d4037;
	}
}
/* Header style for mobiles */
header {
	position: relative;
  background-color: #464646;
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  min-height: auto;
  width: 100vw;
}
header .header-content {
	position: relative;
	width: 100vw;
	padding: 100px 15px 100px;
}
header .header-content .header-content-inner h1 {
	font-family: 'Merriweather', serif;
  font-weight: 700;
  margin: 0 auto;
  font-size: 50px;
  text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #fff;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  font-size: 16px;
  text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #fff;
}
header .header-content a {
	background-color: transparent;
  border-color: white;
  border-radius: 70px;
  color: white;
  margin: 15px 0;
}
/* Header style for larger screens */
@media (min-width: 768px) {
	header {
		min-height: 100vh;
	}
	header .header-content {
    padding: 0 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
  	font-family: 'Merriweather', serif;
    font-size: 80px;
  }
  header .header-content .header-content-inner p {
    font-size: 25px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content a {
  	font-size: 25px;
  }
}
section {
	padding: 40px 0;
}
section-heading {
	margin-top: 0;
}
section-description {
	text-align: justify;
}
section hr {
	max-width: 500px;
	margin-bottom: 50px;
}
section p {
	margin-bottom: 30px;
}
i {
	/*color: #EDA807;*/
	/*color: #00796B;*/
	color: #ffab00;
}
.options {
	margin-top: 50px;
}
.options > div > a {
	border-radius: 70px;
}
.modal {
	color: black;
}
.modal-body {
	padding: 0;
}
.modal-open .modal {
  background-color: rgba(50, 50, 70, 0.9);
}
table {
	border: none;
}
.table > tbody > tr > td {
	padding: 8px;
	padding-left: 15px;
}
.table a {
	color: black;
	text-decoration: none;
}
.table {
	margin: 0;
}
/*rgba(20, 201, 152, 0.9)*/
/* ====================== */

/* Estilos para error.html */
.error-page {
	margin-bottom : 150px;
	margin-left : auto;
	margin-right : auto;
	margin-top : 150px;
}
.error-sub {
	font-size : 30px;
}
.error-title {
	font-size : 80px;
}
/* ======================= */
/* Estilos para vistas p16 y p18 */
.alert {
	border-radius: 0px;
	margin-bottom: 0px;
}
.navbar {
	border-radius : 0px;
	margin-bottom : 0px;
	color: #000;
}
.navbar-inverse {
	background-color: white;
	border-color: rgba(34, 34, 34, 0.05);
  transition: all 0.35s;
}
.navbar-inverse .navbar-header .navbar-brand {
	color: #f05f40;
	font-weight: 700;
	font-size: 18px;
	transition: all 0.5s;
}
.navbar-inverse .navbar-header .navbar-brand:hover,
.navbar-inverse .navbar-header .navbar-brand:focus {
  color: #eb3812;
  font-size: 22px;
}
#wrapper {
	transition: all 0.5s;
	overflow: hidden;
}
/* Sidenav style */
#sidenav-wrapper {
	background: rgba(0,118,138,0.9);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: all 0.5s ease-out;
	width: 0px;
	z-index: 1;
}
#sidenav-content {
	list-style: none;
	line-height: 42px;
	margin: 20px auto;
	padding-left: 0;
	width: 15em;
	overflow-x: hidden;
}
#sidenav-content li {
	padding-right: : .5em;
	box-shadow: 3px 0 rgba(52,152,219.2)inset;
}
#sidenav-content li a {
	color: #ddd;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	width: 100%;	
}
#sidenav-content li a:hover {
	margin-left: 1em;
	transition: all 0.3s;
}
#main-content-wrapper {
	transition: all 0.7s;
}
/*#wrapper.toggled #main-content-wrapper{
	padding-left: 200px;
}*/
#wrapper.toggled #sidenav-wrapper {
	width: 250px;
}
#main-content-wrapper > .container-fluid {
	padding: 0;
}
.navbar-inverse .navbar-nav li a,
.navbar-inverse .navbar-nav li a:visited {
	position: relative;
	color:#f05f40;
	transition: all 0.95s;
	overflow-x: hidden;
	margin: 2px;
	font-size: 14px;
}
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li a:focus {
	color: #eb3812;
	font-size: 18px;
}
.navbar-inverse .navbar-nav>li.active>a,
.navbar-inverse .navbar-nav>li.active>a:hover,
.navbar-inverse .navbar-nav>li.active>a:focus {
	background-color: #f05f40;
	border-radius: 4px;
	color: white;
	font-size: 14px;
}
#closebtn {
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	position: absolute;
	top: 0;
	right: 20px;
}
.panel {
	margin: 0;
	padding: 0;
}
#codigo {
	position: absolute;
	width: 100%;
	border-radius: 0;
}
/* Estilos para vista de login */
#login-wrapper {
	position: absolute;
	height: 100%;
	margin: 0;
	width: 100%;
	background-color: #eee;
	background-image: url('../img/bg.jpg');
	background-position: center;
  background-size: cover;
}
.login-content {
	background-color: #fafafa;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 500px;
	height: 300px;
	border-radius: 5px;
	box-shadow: 0 5px 10px;
}
.login-box {
	max-width: 400px;
	position: relative;
	top: 50%;
	margin: 0 auto;
	transform: translateY(-50%);
}
.login-box .btn {
	box-shadow: 0 3px #286090;
	border-bottom: none;
}
.login-box .btn:hover {
	box-shadow: 0 3px ##286090;
	border-bottom: none;
}
.login-box .btn:active {
	box-shadow: 0 3px #286090;
	border-bottom: none;
}